@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media only screen and (min-width: 1264px) {

    .howToBox {
        width: 70vw;
        height: 60vh;
        border-radius: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

}

@media only screen and (max-width: 1264px) {

    .howToBox {
        width: 80vw;
        height: 60vh;
        border-radius: 3vh;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        text-align: center;
    }

}